@use "../../styles/scss/variables" as *;
@use "../../styles/scss/media" as *;
@use "../../styles/scss/mixin" as *;

.discography {
  margin-bottom: 25px;
  @include containerPadding;
  margin-top: 30px;

  @include mobile {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .title {
    color: white;
  }
  .discographyBtns {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @include mobile {
      margin-top: 10px;
    }
    button {
      cursor: pointer;
      color: white;
      font-size: 0.875rem;
      border: none;
      padding: 8px 14px;
      border-radius: 40px;
      background: hsla(0, 0%, 100%, 0.07);
      transition: 0.2s;
      @include mobile {
        padding: 8px 10px;
      }

      &:hover {
        background: hsla(0, 0%, 100%, 0.09);
      }
      &.active {
        color: black;
        background-color: #fff;
      }
    }
  }
}
