@use "../styles/scss/variables" as *;
@use "../styles/scss/media" as *;
.genre {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  padding-inline: $pagePaddingInline;
  margin-top: 72px;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
  }

  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
}
