@use "./styles/scss/variables" as *;
@use "./styles/scss/media" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background-color: black;
}

a {
  color: #fff;
}

.main {
  display: grid;
  grid-template-columns: 340px 1fr;
  column-gap: 8px;
  margin: 12px;

  .mainContent {
    height: calc(100vh - 24px);
    overflow: auto;
    position: relative;
    z-index: 0;
    background-color: $background-base;
    border-radius: $mainPage_BorderRadius;
  }
  @include tablet {
    grid-template-columns: 60px 1fr;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(121, 121, 121);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(149, 149, 149);
}
