@use "../../styles/scss/mixin" as *;
@use "../../styles/scss/media" as *;

.popularTracksContainer {
  @include containerPadding;

  &.popularTracksPageArtist {
    margin-right: 250px;
    margin-top: 110px;

    @include tablet {
      margin-right: 0;
    }

    @include mobile {
      margin-top: 80px;
    }
  }

  .popularTracksHeader {
    h5 {
      font-size: 0.875rem;
      color: #b3b3b3;
    }
    .artistPopular {
      margin-bottom: 5px;
    }
    h2 {
      margin: 5px 0 20px;
      font-size: 1.5rem;
      color: white;
    }
  }

  .toggleItem {
    background: none;
    border: none;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 16px;
    font-size: 0.875rem;
    font-weight: 700;
    &:hover {
      color: white;
    }
  }
}
