@use "../../styles/scss/media" as *;
@use "../../styles/scss/variables" as *;
@use "../../styles/scss/mixin" as *;
.playlistTrack {
  @include containerPadding;
  margin-top: 110px;

  @include mobile {
    margin-top: 80px;
  }
  .trackHeaderTitle {
    display: grid;
    align-items: center;
    grid-template-columns:
      minmax(0, 16px) minmax(0, 8fr) minmax(0, 4fr) minmax(0, 3fr)
      minmax(120px, 1fr);
    padding-inline: 16px;
    color: #a7a7a7;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    column-gap: 16px;
    @include tablet {
      grid-template-columns:
        minmax(0, 16px) minmax(0, 8fr) minmax(0, 4fr) minmax(0, 3fr)
        minmax(45px, 1fr) !important;
      column-gap: 6px !important;
    }

    @include mobile {
      padding-bottom: 5px;
      margin-bottom: 10px;
      padding-inline: 8px;
    }

    p {
      font-size: 0.875rem;
      font-weight: 700;
      display: flex;
      column-gap: 16px;
      @include mobile {
        font-size: 0.75rem;
      }
    }

    .clock {
      justify-self: end;
      button {
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        color: #a7a7a7;
      }
    }

    span {
      @include mobile {
        font-size: 0.75rem;
      }
    }
  }

  .aboutTrack {
    grid-template-columns:
      minmax(0, 16px) minmax(0, 8fr) minmax(0, 4fr) minmax(0, 3fr)
      minmax(120px, 1fr) !important;
    @include tablet {
      grid-template-columns:
        minmax(0, 16px) minmax(0, 8fr) minmax(0, 4fr) minmax(0, 3fr)
        minmax(45px, 1fr) !important;
      column-gap: 6px !important;
    }

    .albumName,
    .formatDate {
      font-size: 0.875rem;
      color: #a7a7a7;
      p {
        @include createEllipsis;
      }
    }
  }
}
